<html ng-app="testApp">
  <head>
    <title>Test application</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

  </head>
  <body ng-controller="testController">
    <h2>This is test application</h2>
<div class="menu">
    <button ng-click="users.html">USERS</button>
    <button ng-click="">TASKS</button>
</div>

<div>
    <h2>USERS</h2>
  <hr>
    <h3>Create user</h3>
    <p>Input username:</p>
    <p><input type="text" ng-model="user_name"></p>
    <!--button ng-click="addUser(user_name)">Add user</button-->

    <h3>Get all users</h3>
  <hr>
  <p>No users requested yet</p>
    <!--button ng-click="getUser()">Get users</button-->
</div>

   
  </body>
</html>