.menu button {
    height: 50px;
    width: 200px;
    background-color: darkolivegreen;
    color: #999999;
    align-content: center;
}

body {
    background-color: #274082;
}

form {
	margin-left: 100px;
}

input {
	width: 249px;
	height: 34px;
	left: 56px;
	background: #FFFFFF;
	margin-bottom: 10px;
}

.description{
	width: 500px;
	height: 170px;
}

form p {
	height: 30px;
	left: 56px;
	font-family: Rasa;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: normal;
	margin: 5px;
	color: #FFFFFF;
}

.form_button {
	width: 113px;
	height: 50px;
	margin-left: 480px;
	border: none;
	background: #B2D231;

	font-family: Rasa;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: normal;

	color: #FFFFFF;
	/*border-radius: 100px;*/

}








